<% include ./partials/header %>

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-4">
					<img id="bio-headshot" src="/img/ConnorMullaneyHeadshot.jpg">

					<p id="bio">Connor is a trained actor based in San Francisco, with experience in film, commercials, and theater. He is represented by Look Talent.</p>
				</div>
			</div>

		</div>


<% include ./partials/footer %>