<% include ./partials/header %>

<h3>Headshots</h3>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-sm-6 col-md-3">
			<div class="card">
				<img class="card-img-top" src="img/ConnorMullaneyHeadshot.jpg">	
			</div>
		</div>	
		<div class="col-sm-6 col-md-3">
			<div class="card">
				<img class="card-img-top" src="img/ConnorMullaneyHeadshot2.jpg">
			</div>
		</div>
	</div>

</div>

<h3>Behind the Scenes/Promotional</h3>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-lg-4">
			<div class="card">
				<img src="img/BeyondEyes.jpg">
			</div>
		</div><div class="col-md-6 col-lg-4">
			<div class="card">
				<img src="img/JandM.jpg">
			</div>
		</div><div class="col-md-6 col-lg-4">
			<div class="card">
				<img src="img/makeup.jpg">
			</div>
		</div><div class="col-md-6 col-lg-4">
			<div class="card">
				<img src="img/me1.jpg">
			</div>
		</div><div class="col-md-6 col-lg-4">
			<div class="card">
				<img src="img/me7.jpg">	
			</div>
		</div><div class="col-md-6 col-lg-4">
			<div class="card">
				<img src="img/The Bet.jpg">
			</div>
		</div><div class="col-md-6 col-lg-4">
			<div class="card">
				<img src="img/tla1.jpg">
			</div>
		</div>
	</div>	
</div>

<% include ./partials/footer %>