<% include ./partials/header %>

<div class="container">
	<div class="embed-responsive embed-responsive-16by9">
		<iframe src="https://player.vimeo.com/video/234094344" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
</div>

<% include ./partials/footer %>