<% include ./partials/header %>
		<div class="container">
			<p class="category">Film:</p>

			<p>Old Friend, Lead, Scary Cow Productions</p>

			<p>Jacob + Malika, Lead, Scary Cow Productions</p>

			<p>Whorehouse Adventure, Lead, Scary Cow Productions</p>

			<p>The Interview, Lead, Academy of Art University</p>

			<p>Life Under the Stars, Lead, Academy of Art University</p>

			<p>The Bet, Lead, SF School of Digital Filmmaking</p>

			<p>Broken, Lead, SF School of Digital Filmmaking</p>

			<p>No Sleep Challenge, Lead, Santa Clara University</p>

			<p>Beyond the Eyes, Supporting, Dented Cranium Productions</p>

			<p>Motherly Instinct, Supporting, Academy of Art University</p>

			<p>Look up for Love, Supporting, Santa Clara University</p>

			<p class="category">Theater:</p>

			<p>The Importance of Being Earnest, Algernon, Firescape Theatre</p>

			<p>A Map of Virtue, Mark, University of Washington</p>

			<p>Suicide in B Flat, Louis, University of Washington</p>

			<p>The Language Archive, Baker/Zamenhof, University of Washington</p>

			<p class="category">Training:</p>

			<p>Beverly Hills Playhouse SF (ongoing), Advanced Scene Study, Robert Zimmerman</p>

			<p>Beverly Hills Playhouse SF, Voice Training, William Moses</p>

			<hr>

			<p>
				<a target="_blank" href="assets/pdf/ConnorMullaneyResume.pdf" class="resume-link">Resume PDF</a>
			</p>
			<p>
				<a target="_blank" href="http://resumes.actorsaccess.com/connormullaney" class="resume-link">Actors Access</a>
			</p>
			<p>
				<a target="_blank" href="https://www.imdb.com/name/nm8818060/" class="resume-link">IMDb</a>
			</p>
		</div>
<% include ./partials/footer %>